# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_weather_df = pd.read_csv("output_data/City_Weather_data.csv")
city_weather_df.rename(columns={'Max Temp': 'Max Temp (F)',
                                  'Wind Speed': 'Wind Speed (mph)'}, inplace = True)
city_weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp (F),Wind Speed (mph)
0,Port Elizabeth,20,ZA,1635600722,64,-33,25,75,20
1,Dvinskoy Bereznik,100,RU,1635600781,100,62,42,38,3
2,Chipinge,0,ZW,1635600781,21,-20,32,88,3
3,Saint Paul Harbor,100,US,1635600643,95,57,-152,44,29
4,Korčula,0,HR,1635600783,51,42,17,70,3
...,...,...,...,...,...,...,...,...,...
577,Shellbrook,2,CA,1635601095,57,53,-106,25,9
578,Port Hardy,1,CA,1635601095,93,50,-127,42,4
579,Kungurtug,32,RU,1635601096,65,50,97,29,2
580,Saint-Augustin,8,CA,1635601096,34,51,-58,47,3
581,Dalmau,0,IN,1635601097,47,26,81,73,6

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
#generate figure
fig = gmaps.figure()

#create heat map layer
locations = city_weather_df[['Lat', 'Lng']]

humidity = city_weather_df['Humidity']

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#ideal conditions based on data

#windspeed <10
ideal_wind = 10

#humidity <60
ideal_humidity = 60

#temperature 60 < ideal < 75
lower_temp = 60
upper_temp = 75

#cloudiness <40
ideal_cloudiness = 40

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
ideal_vacation_city_df = city_weather_df.loc[(city_weather_df['Wind Speed (mph)'] < ideal_wind) &
                                               (city_weather_df['Humidity'] < 60) &
                                                (city_weather_df['Max Temp (F)'] > lower_temp) &
                                                (city_weather_df['Max Temp (F)'] < upper_temp) &
                                                (city_weather_df['Cloudiness'] < ideal_cloudiness)]

ideal_vacation_city_df.reset_index(inplace = True)
del ideal_vacation_city_df['index']
ideal_vacation_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp (F),Wind Speed (mph)
0,Korčula,0,HR,1635600783,51,42,17,70,3
1,Cape Town,0,ZA,1635600651,51,-33,18,73,5
2,Socorro,1,US,1635600816,31,31,-106,61,6
3,Shambu,9,ET,1635600846,58,9,37,61,3
4,Şile,0,TR,1635600868,59,41,29,63,5
5,Antofagasta,1,CL,1635600907,49,-23,-70,72,7
6,Phuthaditjhaba,1,ZA,1635600914,41,-28,28,65,6
7,San Patricio,0,US,1635600915,30,28,-97,64,4
8,Jablanica,0,BA,1635600923,42,43,17,68,4
9,Buin,6,CL,1635600934,20,-33,-70,73,3
10,Apricena,7,IT,1635600936,54,41,15,68,4
11,Constantine,0,DZ,1635600955,40,36,6,72,5
12,Ginir,6,ET,1635600975,32,7,40,70,8
13,Ovalle,5,CL,1635600983,46,-30,-71,74,6
14,Soma,1,TR,1635600987,41,39,27,70,7
15,Twentynine Palms,0,US,1635600812,39,34,-116,70,1
16,Bajram Curri,0,AL,1635601055,59,42,20,66,3
17,Hadžići,0,BA,1635601059,58,43,18,63,1
18,Khedbrahma,5,IN,1635601063,28,24,73,74,5
19,Dalmau,0,IN,1635601097,47,26,81,73,6

In [7]:
#finding the closest hotels
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
distance_range = 5000
hotel_data = []
for index, data in ideal_vacation_city_df.iterrows():
    parameters = {"location": f"{data['Lat']}, {data['Lng']}",
        "type": "lodging",
        "radius": distance_range,
        "key": g_key}
    response = requests.get(base_url, params = parameters).json()
    url = requests.get(base_url, params = parameters).url
    print(url)
    hotel_data.append(response)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=42%2C+17&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33%2C+18&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=31%2C+-106&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=9%2C+37&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=41%2C+29&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-23%2C+-70&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-28%2C+28&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=28%2C+-97&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=43%2C+17&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33%2C+-70&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=41%2C+15&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=36%2C+6&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=7%2C+40&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-30%2C+-71&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=39%2C+27&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=34%2C+-116&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=42%2C+20&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=43%2C+18&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=24%2C+73&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=26%2C+81&type=lodging&radius=5000&key=AIzaSyA5tuaNXlA3M60p7fRAcuo2AhxuFLK84ec

In [8]:
#hotel_data[0]['status'] == 'ZERO_RESULTS'
hotel_list = []
for index, hotel in enumerate(hotel_data):
    hotel_dict = {}
    if len(hotel['results']) == 0:
        hotel_dict['Hotel Name'] = 'None'
        hotel_dict['Hotel Lat'] = 'N/A'
        hotel_dict['Hotel Lng'] = 'N/A'
    else:
        hotel_dict['Hotel Name'] = hotel['results'][0]['name']
        hotel_dict['Hotel Lat'] = hotel['results'][0]['geometry']['location']['lat']
        hotel_dict['Hotel Lng'] = hotel['results'][0]['geometry']['location']['lng']
    hotel_list.append(hotel_dict)
# hotel_df = pd.DataFrame(hotel_dict)
hotels_df = pd.DataFrame(hotel_list)
hotels_df

hotel_df = ideal_vacation_city_df.join(hotels_df, how = 'outer')
hotel_df = hotel_df.loc[hotel_df['Hotel Name'] != 'None']
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp (F),Wind Speed (mph),Hotel Name,Hotel Lat,Hotel Lng
1,Cape Town,0,ZA,1635600651,51,-33,18,73,5,Blue Bay Lodge,-32.995413,17.97314
4,Şile,0,TR,1635600868,59,41,29,63,5,The Marmara Taksim,41.036267,28.986379
7,San Patricio,0,US,1635600915,30,28,-97,64,4,High Noon Sportfishing,28.03306,-97.027086
8,Jablanica,0,BA,1635600923,42,43,17,68,4,Apartments Korta,42.973017,17.019977
10,Apricena,7,IT,1635600936,54,41,15,68,4,Hotel l'Ulivo,41.038013,15.016476
12,Ginir,6,ET,1635600975,32,7,40,70,8,Tsehay Bezabeh Metasebya Mengita Bet,7.010208,39.970406
13,Ovalle,5,CL,1635600983,46,-30,-71,74,6,Complejo Media Luna,-29.972045,-70.970813
14,Soma,1,TR,1635600987,41,39,27,70,7,Yesilirmak Boutique Hotel,38.963624,26.981609
15,Twentynine Palms,0,US,1635600812,39,34,-116,70,1,Belle Campground,34.001465,-116.019393
16,Bajram Curri,0,AL,1635601055,59,42,20,66,3,Guesthouse Lika,41.997545,19.992012
18,Khedbrahma,5,IN,1635601063,28,24,73,74,5,Nichi Dhanal Kampa,24.0091,73.011417
19,Dalmau,0,IN,1635601097,47,26,81,73,6,Robin bhardwaj,25.989307,81.013451

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Hotel Lat", "Hotel Lng"]]

In [10]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations,
                                  info_box_content=hotel_info)
fig.add_layer(marker_layer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))